/**
 * pagination.
 *
 * Requires markup like:
 *
 * <div class="pagination">
 * <?php previous_posts_link( 'Previous Page' ); ?>
 * <?php next_posts_link( 'Next Page' ); ?>
 * </div>
*/

.pagination {
	display: grid;
	grid-template-columns: 1fr 1fr;

	margin: $base-line-height auto;

	a,
	&__item {
		@extend .cta;
		@extend .cta--small;
		border-bottom: 0;
	}

	a:first-child {
		@extend .cta--arrow-left;
		grid-column: 1;
	}

	a:last-child {
		@extend .cta--arrow;
		grid-column: 2;
		text-align: right;
	}
}
