# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build

# misc
*.DS_Store
.AppleDouble
.LSOverride
.env
npm-debug.log

# Thumbnails
._*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.yarn-integrity

*.css
