#header {

	@include clearfix;

	// position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: #FFF;
	border-bottom: 1px solid $border_main;
	padding: .75rem 0;

	.header-inner {
		max-width: 1200px;
		margin: auto;
	}

	.header-title {
		padding-left: $left-gutter;
	}

	.sleeve {
	}

	h1 {
		margin: 0;
	}
}
