#postbox {
	border-top: 0;

	display: none;

	&.active {
		display: block;
	}
}

#new_post {

	#post-prompt {
		display: block;
		margin-bottom: .75rem;
		cursor: hand;
		cursor: pointer;

		img {
			position: relative;
			top: .375rem;
			margin-right: 5px;
		}
	}

	textarea {
		width: 100%;
		min-height: 150px;
		border: 1px solid $border_main;
		box-sizing: border-box;
		resize: vertical;
	}

}
