.sidebar {
	> ul {
		list-style: none;
	}

	ul, ol {
		list-style-position: outside;
	}

	.widget {
		margin-bottom: 2rem;
	}
}
.widget_search {
	font-size: 0.8rem;

	.searchform > div {
		display: flex;
	}

	label {
		display: none;
	}
	#s {
		padding: 4px 25px;
		border: 1px solid $border_main;
		border-right: none;
		border-top-left-radius: 2px;
		border-bottom-left-radius: 2px;

		width: 70%;
	}
	#searchsubmit {
		width: 30%;
		background: $red;
		color: #fff;
		padding-top: 0.4em;
		padding-bottom: 0.4em;
		border: none;
		border-top-right-radius: 2px;
		border-bottom-right-radius: 2px;
	}
}
