.Editor {
	padding-bottom: 1.66667rem;
}

.Editor-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: -2px;
	z-index: 2;
	position: relative;
}

.Editor-tabs {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
}

.Editor-tabs input {
	display: none;
}

.Editor-tabs label {
	all: unset;
	cursor: pointer;
}

.Editor-tabs label span {
	display: inline-block;
	padding: 7.5px 12px;
	border: 2px solid transparent;
	border-bottom-style: none;
	border-radius: 4px 4px 0 0;
}

.Editor-tabs label input:checked + span {
	background: #fff;
	border-color: #d9d9d9;
	color: var(--hm-red-dark);
}

.Editor-toolbar {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}

.Editor-toolbar button {
	background: transparent;
	border: none;
	font: inherit;
	cursor: pointer;
	padding: 0.25rem 0.25rem;
	margin: -0.25rem 0;
}

.Editor-toolbar button {
	outline: none;
}

.Editor-toolbar .separator {
	display: none;
}

.Editor-toolbar .svg-icon {
	width: 1rem;
	height: 1rem;
	display: block;
	opacity: 0.5;
}

.Editor-toolbar button:hover .svg-icon,
.Editor-toolbar button:focus .svg-icon {
	opacity: 1;
}

.Editor-toolbar button:hover,
.Editor-toolbar button:focus {
	color: #00a0d2;
}

.Editor-toolbar .separator {
	margin-left: 0.5rem;
}

.Editor-editor-container {
	position: relative;
}

.Editor-tabs,
.Editor-toolbar {
	font-family: "proxima-nova", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.01em;
	color: #504C4C;
	font-size: .777777778rem;
	line-height: 1.4285;
}

.Editor .DropUpload {
	margin-bottom: 1rem;
}

.Editor .DropUpload-status {
	border: 2px solid #d9d9d9;
	border-top-style: dashed;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	padding: 0.2em 9px;
	background: var( --hm-light-grey );
}
.Editor.previewing .DropUpload-status {
	display: none;
}

.Editor-editor {
	margin-top: 0;
	min-height: 18rem;
	max-height: 30rem;
	resize: vertical;
	border-radius: 0;
	border-top-right-radius: 4px;
	border: 2px solid #d9d9d9;
	border-bottom: none;
	background-color: #fff;
	margin-bottom: 0;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.Editor-preview {
	background-color: #fff;
	border: 2px solid #d9d9d9;
	padding: 1rem;
	margin-bottom: 1.66667rem;
}

.Editor-save-indicator {
	color: var( --hm-medium-grey );
	margin-left: 1em;
}

.Editor-submit {
	padding-left: 5px;
	margin: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.Editor-submit-buttons button {
	margin-bottom: 0;
}

.Editor-submit-buttons button:last-child {
	margin-right: 0;
}

.Editor-editor:focus,
.Editor-editor:active,
.Editor-editor:hover {
	border-color: #d9d9d9;
}
