@mixin button {
	// Reset
	border: none;
	box-shadow: none;
	margin: 0;
	padding: 0;
	background: transparent;
	box-sizing: border-box;
	text-decoration: none;

	@include small;

	// Standard Button.
	padding: .375rem 40px .375em;
	border: 2px solid transparent;
	border-radius: 8px;
	text-transform: uppercase;
	color: $color_links;
	display: inline-block;

	&:hover {
		background: $color_links;
		color: #fff;
	}

	// Button icons
	i:first-child {
		margin-right: 0.3em;
	}
}

@mixin button-slim {
	padding: .1875rem 10px;
	border-width: 1px;
}

@mixin button-border( $color: $color_links ) {
	border-color: $color;
}

.btn {
	@include button;

	&.primary {
		@include button-border( $color_links );
	}
}
