$color_body:    #4A4A4A;
$color_body_lt: #C1C1C1;
$color_status:  #ABABAB;
$color_links: 	#D94E3A;
$color_links_hover: saturate($color_links, 30%);
$color_links_visited: $color_links;
$bg_light: 		#fff;
$bg_status:     #F9F9F9;
$red: 			#D94E3A;
$red-alt:		#a52025;
$green: 		#8dc05d;
$color_alt: 	#42a2ce;
$border_main:	#dfdfdf;

$heading-font-family: 'Avenir', sans-serif;
$body-font-family: 'Avenir', sans-serif;
$base-font-size: 18px;
$base-font-weight: 300;
$base-line-height: 1.75;

$left-gutter: 65px;
