.HeaderButton {
	display: block;
	background: rgba(0,0,0,0.05);
	color: rgba(0,0,0,0.5);
	padding: 0;
	width: 180px;
	text-transform: uppercase;
	font-weight: 600;
	text-align: center;
	border: none;
	font-size: inherit;
	cursor: pointer;
	transition: 180ms linear all;
	outline: none;
}

.HeaderButton + .HeaderButton {
	border-left: 1px solid rgba(0,0,0,0.05);
}

.HeaderButton .icon {
	margin-right: 10px;
	margin-left: -0.5em;
	opacity: 0.5;
}

.HeaderButton:hover,
.HeaderButton:focus {
	color: var( --hm-dark-grey );
}

.HeaderButton:focus {
	outline: 1px solid var( --hm-dark-grey );
}
.HeaderButton:active {
	outline: 1px solid var( --hm-red );
}

.HeaderButton:hover .icon,
.HeaderButton:focus .icon {
	opacity: 1;
}

@media ( max-width: 600px ) {
	.HeaderButton {
		width: auto;
	}
	.HeaderButton .icon {
		margin: 0;
	}
	.HeaderButton-title {
		display: none;
	}
}
