.Header {
	background: var(--hm-beige);
	flex: 1;
}

.Header-inner {
	flex-direction: row;
	display: flex;
	padding: 0 20px;
}

.Header-inner > a:hover,
.Header-inner > a:focus {
	border: none;
}

.Header .CurrentUserDropDown {
	margin-left: auto;
	align-self: center;
}

.Header .SearchInput {
	margin: 7px 20px;
}
