.Header {
	background: var( --hm-beige );
	flex: 1;
}

.Header-inner {
	flex-direction: row;
	display: flex;
	padding: 0 20px 0 0;
}

.Header-site-name {
	background: var( --hm-red );
	color: #fff;
	display: flex;
	align-items: center;
	padding-right: 1em;
	border: none;
	font: inherit;
	font-size: 1rem;
	cursor: pointer;
}

.Header-site-name:hover,
.Header-site-name:focus {
	border: none;
	color: rgba( 255, 255, 255, 0.6 );
}

.Header-site-name:hover .hm-logo,
.Header-site-name:focus .hm-logo {
	opacity: 0.6;
}

.Header .Header-CurrentUser {
	margin-left: auto;
	align-self: center;
}

.Header .SearchInput__wrap,
.Header .SearchInput__result {
	padding-left: 20px;
	padding-right: 20px;
}

@media ( max-width: 479px ) {
	.Header .SearchInput {
		display: none;
	}
}

@media ( max-width: 782px ) {
	/* Align header height increase with WP admin bar breakpoint */
	.Header .Header-CurrentUser {
		transform: scale( 0.9 );
	}
}
