.Header {
	background: var(--hm-beige);
	flex: 1;
}

.Header-inner {
	flex-direction: row;
	display: flex;
	padding: 0 20px;
}

.Header-inner > a:hover,
.Header-inner > a:focus {
	border: none;
}

.Header .Header-site-name {
	display: flex;
	align-items: center;
	background: var(--hm-red);
	padding-right: 1em;
	color: #fff;
}

.Header-site-name:hover {
	color: rgba( 255, 255, 255, 0.6 );
}

.Header .Header-CurrentUser {
	margin-left: auto;
	align-self: center;
}

.Header .SearchInput {
	margin: 0 20px;
	align-self: center;
}

@media ( max-width: 600px ) {
	.Header-inner {
		padding: 0 7px;
	}
}
