.Logo {
	background-color: var(--hm-red);
	padding: 5px 0;
	height: 45px;
	width: 45px;
	display: inline-block;
}

.Logo .hm-logo {
	width: 1.5rem;
	height: 1.5rem;
}

@media ( max-width: 600px ) {
	.Logo .hm-logo {
		margin-left: 5px;
	}
}

@media ( min-width: 601px ) {
	.Logo {
		width: 60px;
	}
}

/* Align header height increase with WP admin bar breakpoint */
@media ( min-width: 783px ) {
	.Logo {
		padding: .5rem 0;
		height: 60px;
	}
}
