.AuthorName-Card {
	display: flex;
	font-size: 0.9rem;
}

.AuthorName-Card .Avatar {
	flex-grow: 0;
	flex-shrink: 0;
	margin-right: 1em;
}

.AuthorName-Card h1 {
	font-size: 1em;
	line-height: 40px;
	text-transform: none;
	margin: 0 0;
}

.AuthorName-Card-description {
	color: var( --hm-medium-grey );
}
