.Button {
	background: none;
	border: none;
	color: #cb4b3c;
	font-size: 14px;
	outline: none;
}

.Button:focus {
	outline: 1px solid var( --hm-dark-grey );
}
.Button:active {
	outline: 1px solid var( --hm-red );
}
