.CommentsList {
	flex-direction: column;
	margin-left: 100px;
}

.CommentsList .Comment {
	padding-bottom: 1.666666667rem;
}

.CommentsList .post-reply {
	align-self: flex-end;
}

.CommentThread {
	margin-left: 60px;
}
