.CommentsList {
	flex-direction: column;
	margin-left: 100px;
}

.CommentsList .Comment {
	margin-bottom: 40px;
}

.CommentsList .post-reply {
	align-self: flex-end;
}

.CommentThread {
	margin-left: 60px;
}