.CommentsList {
	flex-direction: column;
	margin-left: 20px;
}

.CommentsList .CommentsList {
	margin-left: 14px;
}

.CommentsList .CommentsList .CommentsList .CommentsList {
	margin-left: 0;
}

.CommentsList .post-reply {
	align-self: flex-end;
}

.CommentThread {
	margin-left: 60px;
}

@media ( min-width: 600px ) {
	.CommentsList {
		margin-left: 69px; /* center under post author icon */
	}

	.CommentsList .CommentsList {
		margin-left: 43px;
	}

	.CommentsList .CommentsList .CommentsList .CommentsList {
		margin-left: 10px; /* Start overlapping icons: legibility over aesthetics */
	}
}

@media ( min-width: 960px ) {
	.CommentsList {
		margin-left: calc( 30px + 3.333rem + 60px ); /* align with content column */
	}
}
