.Comment {
	position: relative;
}

.Comment:before {
	position: absolute;
	content: '';
	background: #F1F2EE;
	left: -41px;
	top: 0;
	bottom: 0;
	width: 3px;
	z-index: -1;
}

.Comment:last-child:before {
	bottom: 1rem;
}

.Comment:last-child:after {
	position: absolute;
	content: '';
	background: #F1F2EE;
	left: -43.5px;
	bottom: calc( 1rem - 4.5px );
	width: 9px;
	height: 9px;
	z-index: -1;
	border-radius: 50%;
}

.Comment .Comment-Header {
	position: sticky;
	top: 99px;
	top: var( --message-header-size, 99px );
	z-index: 3;
}

@media screen and ( min-width: 600px ) and ( max-width: 782px ) {
	body.admin-bar .Comment .Comment-Header {
		top: 145px; /* 46 + 99 */
	}
}

@media screen and ( min-width: 783px ) {
	body.admin-bar .Comment .Comment-Header {
		top: 131px; /* 32 + 99 */
	}
}

.Comment > .body {
	flex-direction: column;
	padding-bottom: 1rem;
}

.Comment:hover > .Comment-Header .actions-wrap {
	display: flex;
}

.Comment-footer-actions {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 1.666rem 0 1.248rem;
}

@media ( max-width: 600px ) {
	.Comment .Comment-Header {
		position: static;
		height: auto;
		flex-wrap: wrap;
	}

	.Comment-Header .actions {
		display: none;
	}

	.Comment:before {
		left: -20px;
	}
}

@media ( min-width: 600px ) {
	.Comment-footer-actions .actions {
		display: none;
	}
}
