.Comment {
	position: relative;
}

.Comment:before {
	position: absolute;
	content: '';
	background: #F1F2EE;
	left: -41px;
	top: 0;
	bottom: 0;
	width: 2px;
	z-index: -1;
}

.Comment > header {
	height: 50px;
	line-height: 40px;
	display: flex;
	margin-left: -60px;
	margin-bottom: 10px;
	position: sticky;
	top: 99px;
	background: #fff;
}

.Comment > header > .Avatar {
	margin-right: 10px;
}

.Comment > header > strong {
	flex: 1;
}

.Comment > .body {
	flex-direction: column;
}
