.Editor-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: -2px;
	z-index: 2;
	position: relative;
}

.Editor-tabs {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
}

.Editor-tabs input {
	display: none;
}

.Editor-tabs label {
	all: unset;
	cursor: pointer;
	/*font: inherit;*/
	/*color: inherit;*/
}

.Editor-tabs label span {
	display: inline-block;
	padding: 7.5px;

	border: 2px solid transparent;
	border-bottom-style: none;
	border-radius: 4px 4px 0 0;
}

.Editor-tabs label input:checked + span {
	background: #fff;
	border-color: #d9d9d9;
	color: var(--hm-red-dark);
}

.Editor-toolbar {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}

.Editor-toolbar button {
	background: transparent;
	border: none;
	font: inherit;
	cursor: pointer;
	padding: 0.25rem 0.25rem;
	margin: -0.25rem 0;
}

.Editor-toolbar button:hover,
.Editor-toolbar button:focus {
	color: #00a0d2;
}

.Editor-toolbar .separator {
	margin-left: 0.5rem;
}

.Editor .DropUpload {
	margin-bottom: 1rem;
}
.Editor .DropUpload-status {
	border: 2px solid #d9d9d9;
	border-top-style: dashed;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	padding: 0.2em 9px;
	background: var( --hm-light-grey );
}
.Editor.previewing .DropUpload-status {
	display: none;
}

.Editor-editor {
	margin-top: 0;
	min-height: 5rem;
	max-height: 30rem;
	resize: vertical;
	border-radius: 0;
	border-top-right-radius: 4px;
	border: 2px solid #d9d9d9;
	border-bottom: none;
	background-color: #fff;
	margin-bottom: 0;
}

.Editor-preview {
	background-color: #fff;
	border: 2px solid #d9d9d9;
	padding: 0 20px;
	margin-bottom: 1.66667rem;
}

.Editor-submit {
	padding-left: 5px;
	margin: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.Editor-submit-buttons .btn {
	margin-left: 0.5rem;
	margin-bottom: 0;
}
