.Header {
	background: var(--hm-beige);
	flex: 1;
}

.Header .Inner {
	flex-direction: row;
	display: flex;
	padding: 0 20px;
}

.Header .Inner a:hover {
	border: none;
}

.Header .CurrentUserDropDown {
	margin-left: auto;
	align-self: center;
}
