.Icon {
	display: inline-block;
	width: 1.555rem;
	height: 1.555rem;
	padding: 0;
	vertical-align: bottom;
	background: no-repeat center center;
	background-size: 80%;
	border: none;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.Icon:hover, .Icon:focus {
	border: none;
}

.Icon:focus {
	outline: none;
}

.icon--mail {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-mail-black.svg");
}

.icon--mail.Icon--color-white {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-mail-white.svg");
}

.icon--mail.Icon--color-red {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-mail-red.svg");
}

.icon--wordpress {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-wordpress-black.svg");
}

.icon--wordpress.Icon--color-white {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-wordpress-white.svg");
}

.icon--wordpress.Icon--color-red {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-wordpress-red.svg");
}

.icon--server {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-server-black.svg");
}

.icon--server.Icon--color-white {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-server-white.svg");
}

.icon--server.Icon--color-red {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-server-red.svg");
}

.icon--facebook {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-facebook-black.svg");
}

.icon--facebook.Icon--color-white {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-facebook-white.svg");
}

.icon--facebook.Icon--color-red {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-facebook-red.svg");
}

.icon--twitter {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-twitter-black.svg");
}

.icon--twitter.Icon--color-white {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-twitter-white.svg");
}

.icon--twitter.Icon--color-red {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-twitter-red.svg");
}

.icon--youtube {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-youtube-black.svg");
}

.icon--youtube.Icon--color-white {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-youtube-white.svg");
}

.icon--youtube.Icon--color-red {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-youtube-red.svg");
}

.icon--strategy {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-strategy-black.svg");
}

.icon--strategy.Icon--color-white {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-strategy-white.svg");
}

.icon--strategy.Icon--color-red {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-strategy-red.svg");
}

.icon--comment {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-comment-black.svg");
}

.icon--comment.Icon--color-white {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-comment-white.svg");
}

.icon--comment.Icon--color-red {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-comment-red.svg");
}

.icon--link {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-link-black.svg");
}

.icon--link.Icon--color-white {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-link-white.svg");
}

.icon--link.Icon--color-red {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-link-red.svg");
}

.icon--lock {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-lock-black.svg");
}

.icon--lock.Icon--color-white {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-lock-white.svg");
}

.icon--lock.Icon--color-red {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-lock-red.svg");
}

.icon--minus {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-minus-black.svg");
}

.icon--minus.Icon--color-white {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-minus-white.svg");
}

.icon--minus.Icon--color-red {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-minus-red.svg");
}

.icon--plus {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-plus-black.svg");
}

.icon--plus.Icon--color-white {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-plus-white.svg");
}

.icon--plus.Icon--color-red {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-plus-red.svg");
}

.icon--minus-alt {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-minus-alt-black.svg");
}

.icon--minus-alt.Icon--color-white {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-minus-alt-white.svg");
}

.icon--minus-alt.Icon--color-red {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-minus-alt-red.svg");
}

.icon--plus-alt {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-plus-alt-black.svg");
}

.icon--plus-alt.Icon--color-white {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-plus-alt-white.svg");
}

.icon--plus-alt.Icon--color-red {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-plus-alt-red.svg");
}

.icon--search {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-search-black.svg");
}

.icon--search.Icon--color-white {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-search-white.svg");
}

.icon--search.Icon--color-red {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-search-red.svg");
}

.icon--spinner {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-spinner-black.svg");
}

.icon--spinner.Icon--color-white {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-spinner-white.svg");
}

.icon--spinner.Icon--color-red {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-spinner-red.svg");
}

.icon--arrow-right, .icon--arrow-left {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-arrow-right-black.svg");
}

.icon--arrow-right.Icon--color-white, .Icon--color-white.icon--arrow-left {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-arrow-right-white.svg");
}

.icon--arrow-right.Icon--color-red, .Icon--color-red.icon--arrow-left {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-arrow-right-red.svg");
}

.icon--arrow-down, .icon--arrow-up {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-arrow-down-black.svg");
}

.icon--arrow-down.Icon--color-white, .Icon--color-white.icon--arrow-up {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-arrow-down-white.svg");
}

.icon--arrow-down.Icon--color-red, .Icon--color-red.icon--arrow-up {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-arrow-down-red.svg");
}

.icon--github {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-github-black.svg");
}

.icon--github.Icon--color-white {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-github-white.svg");
}

.icon--github.Icon--color-red {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-github-red.svg");
}

.icon--linkedin {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-linkedin-black.svg");
}

.icon--linkedin.Icon--color-white {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-linkedin-white.svg");
}

.icon--linkedin.Icon--color-red {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-linkedin-red.svg");
}

.icon--instagram {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-instagram-black.svg");
}

.icon--instagram.Icon--color-white {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-instagram-white.svg");
}

.icon--instagram.Icon--color-red {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-instagram-red.svg");
}

.icon--pin {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-pin-black.svg");
}

.icon--pin.Icon--color-white {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-pin-white.svg");
}

.icon--pin.Icon--color-red {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-pin-red.svg");
}

.icon--close {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-close-black.svg");
}

.icon--close.Icon--color-white {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-close-white.svg");
}

.icon--close.Icon--color-red {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-close-red.svg");
}

.icon--download {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-download-black.svg");
}

.icon--download.Icon--color-white {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-download-white.svg");
}

.icon--download.Icon--color-red {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-download-red.svg");
}

.icon--smiley-wink {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-smiley-wink-black.svg");
}

.icon--smiley-wink.Icon--color-white {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-smiley-wink-white.svg");
}

.icon--smiley-wink.Icon--color-red {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-smiley-wink-red.svg");
}

.icon--arrow-left {
	transform: rotate(180deg);
}

.icon--arrow-up {
	transform: rotate(180deg);
}

.hm-logo {
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	display: inline-block;
	background: url("../hm-pattern-library/assets/images/logos/logo-black.svg") no-repeat center center;
	background-size: contain;
	width: 156px;
	height: 30px;
	margin: 1.66667rem 15px;
	vertical-align: top;
	opacity: 1.0;
}

.hm-logo:hover, .hm-logo:focus {
	opacity: 0.6;
}

.hm-logo--red {
	background-image: url("../hm-pattern-library/assets/images/logos/logo-red.svg");
}

.hm-logo--white {
	background-image: url("../hm-pattern-library/assets/images/logos/logo-white.svg");
}

.hm-logo--alt {
	background-image: url("../hm-pattern-library/assets/images/logos/logo-alt-black.svg");
	width: 107px;
	height: 60px;
}

.hm-logo--alt.hm-logo--red {
	background-image: url("../hm-pattern-library/assets/images/logos/logo-alt-red.svg");
}

.hm-logo--alt.hm-logo--white {
	background-image: url("../hm-pattern-library/assets/images/logos/logo-alt-white.svg");
}

.hm-logo--small {
	background-image: url("../hm-pattern-library/assets/images/logos/logo-small-black.svg");
	width: 52px;
	height: 30px;
}

.hm-logo--small.hm-logo--red {
	background-image: url("../hm-pattern-library/assets/images/logos/logo-small-red.svg");
}

.hm-logo--small.hm-logo--white {
	background-image: url("../hm-pattern-library/assets/images/logos/logo-small-white.svg");
}

.hm-logo--tiny {
	background-image: url("../hm-pattern-library/assets/images/logos/logo-tiny-black.svg");
	width: 18px;
	height: 18px;
	margin-top: 0.2775rem;
	margin-bottom: 0.2775rem;
}

.hm-logo--tiny.hm-logo--red {
	background-image: url("../hm-pattern-library/assets/images/logos/logo-tiny-red.svg");
}

.hm-logo--tiny.hm-logo--white {
	background-image: url("../hm-pattern-library/assets/images/logos/logo-tiny-white.svg");
}
