.Icon {
	display: inline-block;
	width: 1.555rem;
	height: 1.555rem;
	padding: 0;
	vertical-align: bottom;
	background: no-repeat center center;
	background-size: 80%;
	border: none;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.Icon:hover, .Icon:focus {
	border: none;
}

.Icon:focus {
	outline: none;
}

.Icon--type-mail {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-mail-black.svg");
}

.Icon--type-mail.Icon--color-white {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-mail-white.svg");
}

.Icon--type-mail.Icon--color-red {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-mail-red.svg");
}

.Icon--type-wordpress {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-wordpress-black.svg");
}

.Icon--type-wordpress.Icon--color-white {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-wordpress-white.svg");
}

.Icon--type-wordpress.Icon--color-red {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-wordpress-red.svg");
}

.Icon--type-server {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-server-black.svg");
}

.Icon--type-server.Icon--color-white {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-server-white.svg");
}

.Icon--type-server.Icon--color-red {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-server-red.svg");
}

.Icon--type-facebook {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-facebook-black.svg");
}

.Icon--type-facebook.Icon--color-white {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-facebook-white.svg");
}

.Icon--type-facebook.Icon--color-red {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-facebook-red.svg");
}

.Icon--type-twitter {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-twitter-black.svg");
}

.Icon--type-twitter.Icon--color-white {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-twitter-white.svg");
}

.Icon--type-twitter.Icon--color-red {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-twitter-red.svg");
}

.Icon--type-youtube {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-youtube-black.svg");
}

.Icon--type-youtube.Icon--color-white {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-youtube-white.svg");
}

.Icon--type-youtube.Icon--color-red {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-youtube-red.svg");
}

.Icon--type-strategy {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-strategy-black.svg");
}

.Icon--type-strategy.Icon--color-white {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-strategy-white.svg");
}

.Icon--type-strategy.Icon--color-red {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-strategy-red.svg");
}

.Icon--type-comment {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-comment-black.svg");
}

.Icon--type-comment.Icon--color-white {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-comment-white.svg");
}

.Icon--type-comment.Icon--color-red {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-comment-red.svg");
}

.Icon--type-link {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-link-black.svg");
}

.Icon--type-link.Icon--color-white {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-link-white.svg");
}

.Icon--type-link.Icon--color-red {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-link-red.svg");
}

.Icon--type-lock {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-lock-black.svg");
}

.Icon--type-lock.Icon--color-white {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-lock-white.svg");
}

.Icon--type-lock.Icon--color-red {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-lock-red.svg");
}

.Icon--type-minus {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-minus-black.svg");
}

.Icon--type-minus.Icon--color-white {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-minus-white.svg");
}

.Icon--type-minus.Icon--color-red {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-minus-red.svg");
}

.Icon--type-plus {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-plus-black.svg");
}

.Icon--type-plus.Icon--color-white {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-plus-white.svg");
}

.Icon--type-plus.Icon--color-red {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-plus-red.svg");
}

.Icon--type-minus-alt {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-minus-alt-black.svg");
}

.Icon--type-minus-alt.Icon--color-white {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-minus-alt-white.svg");
}

.Icon--type-minus-alt.Icon--color-red {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-minus-alt-red.svg");
}

.Icon--type-plus-alt {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-plus-alt-black.svg");
}

.Icon--type-plus-alt.Icon--color-white {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-plus-alt-white.svg");
}

.Icon--type-plus-alt.Icon--color-red {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-plus-alt-red.svg");
}

.Icon--type-search {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-search-black.svg");
}

.Icon--type-search.Icon--color-white {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-search-white.svg");
}

.Icon--type-search.Icon--color-red {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-search-red.svg");
}

.Icon--type-spinner {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-spinner-black.svg");
}

.Icon--type-spinner.Icon--color-white {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-spinner-white.svg");
}

.Icon--type-spinner.Icon--color-red {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-spinner-red.svg");
}

.Icon--type-arrow-right, .Icon--type-arrow-left {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-arrow-right-black.svg");
}

.Icon--type-arrow-right.Icon--color-white, .Icon--color-white.Icon--type-arrow-left {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-arrow-right-white.svg");
}

.Icon--type-arrow-right.Icon--color-red, .Icon--color-red.Icon--type-arrow-left {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-arrow-right-red.svg");
}

.Icon--type-arrow-down, .Icon--type-arrow-up {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-arrow-down-black.svg");
}

.Icon--type-arrow-down.Icon--color-white, .Icon--color-white.Icon--type-arrow-up {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-arrow-down-white.svg");
}

.Icon--type-arrow-down.Icon--color-red, .Icon--color-red.Icon--type-arrow-up {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-arrow-down-red.svg");
}

.Icon--type-github {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-github-black.svg");
}

.Icon--type-github.Icon--color-white {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-github-white.svg");
}

.Icon--type-github.Icon--color-red {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-github-red.svg");
}

.Icon--type-linkedin {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-linkedin-black.svg");
}

.Icon--type-linkedin.Icon--color-white {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-linkedin-white.svg");
}

.Icon--type-linkedin.Icon--color-red {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-linkedin-red.svg");
}

.Icon--type-instagram {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-instagram-black.svg");
}

.Icon--type-instagram.Icon--color-white {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-instagram-white.svg");
}

.Icon--type-instagram.Icon--color-red {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-instagram-red.svg");
}

.Icon--type-pin {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-pin-black.svg");
}

.Icon--type-pin.Icon--color-white {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-pin-white.svg");
}

.Icon--type-pin.Icon--color-red {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-pin-red.svg");
}

.Icon--type-close {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-close-black.svg");
}

.Icon--type-close.Icon--color-white {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-close-white.svg");
}

.Icon--type-close.Icon--color-red {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-close-red.svg");
}

.Icon--type-download {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-download-black.svg");
}

.Icon--type-download.Icon--color-white {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-download-white.svg");
}

.Icon--type-download.Icon--color-red {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-download-red.svg");
}

.Icon--type-smiley-wink {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-smiley-wink-black.svg");
}

.Icon--type-smiley-wink.Icon--color-white {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-smiley-wink-white.svg");
}

.Icon--type-smiley-wink.Icon--color-red {
	background-image: url("../hm-pattern-library/assets/images/icons/icon-smiley-wink-red.svg");
}

.Icon--type-arrow-left {
	transform: rotate(180deg);
}

.Icon--type-arrow-up {
	transform: rotate(180deg);
}
