.Label {
	font-size: .888888889rem;
	line-height: 1.333rem;
	border: 1px solid #D24632;
	border-radius: 4px;
	padding: 0 7.5px;
	background: #FFF;
	color: #D24632;
	margin-bottom: 0.83333rem;
	margin-right: 3.75px;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	border-radius: 4px;
	vertical-align: middle;
	position: relative;
	vertical-align: bottom;
	line-height: 1.555rem;
	transition: color .1s ease-in-out, background .1s ease-in-out, border-color .1s ease-in-out;
}

.Label:link, .Label:visited {
	color: #D24632;
	text-decoration: none;
}

.Label:hover, .Label:focus {
	color: #FFF;
	background-color: #D24632;
	text-decoration: none;
	outline: none;
	transition: color .1s ease-in-out, background .1s ease-in-out, border-color .1s ease-in-out;
}

.Label__count {
	display: inline-block;
	border-radius: 100%;
	min-width: 18px;
	height: 18px;
	line-height: 18px;
	font-family: "Consolas", "Monaco", "Andale Mono", "Ubuntu Mono", monospace;
	font-size: 10.8px;
	background: #D24632;
	color: #FFF;
	margin-left: 0.1em;
	margin-right: 0.1em;
}

.Label:hover .Label__count,
.Label:focus .Label__count {
	background-color: #FFF;
	color: #D24632;
}
