.pagination {
	margin: 1.555rem auto;
	border-top: 1px solid #d9d9d9;
	padding-top: 1.555rem;
	text-align: center;
}

.pagination a,
.pagination button,
.pagination__item {
	white-space: nowrap;
	border-bottom: 2px solid transparent;
}

.pagination a:hover,
.pagination a:focus,
.pagination button:hover,
.pagination button:focus {
	border-bottom: 2px solid transparent;
}

.pagination .Icon,
.pagination .Icon {
	transition: transform 0.2s ease-in-out;
	background-size: 100%;
}

.pagination > :first-child {
	float: left;
}

.pagination > :last-child {
	float: right;
}

.pagination .Icon--type-arrow-left {
	margin-right: 7.5px;
}

.pagination :hover .Icon--type-arrow-left,
.pagination :focus .Icon--type-arrow-left {
	transform: translate( -7.5px, 0 ) rotate( 180deg );
}

.pagination .Icon--type-arrow-right {
	margin-left: 7.5px;
}

.pagination :hover .Icon--type-arrow-right,
.pagination :focus .Icon--type-arrow-right {
	transform: translate( 7.5px, 0 );
}
