.Post {
  flex-direction: column;
  position: relative;
  padding-bottom: 20px;
  min-height: 144px; }

.Post:before {
  position: absolute;
  content: '';
  left: 32px;
  top: 70px;
  height: 40px;
  width: 40px;
  border-radius: 0 0 0 40px;
  border-left: 5px solid #F1F2EE;
  border-bottom: 5px solid #F1F2EE; }

.Post:after {
  position: absolute;
  content: '';
  left: 32px;
  bottom: 0px;
  height: 40px;
  width: 40px;
  border-radius: 40px 0 0 0;
  border-top: 5px solid #F1F2EE;
  border-left: 5px solid #F1F2EE; }

.Post > header {
  position: sticky;
  top: 0;
  z-index: 1;
  margin-top: -15px;
  padding: 15px 0;
  background: #fff;
  display: flex; }

.Post > header > .Avatar {
  margin-right: 30px; }

.Post > header > div {
  flex-direction: column; }

.Post > header > div > h2 {
  margin-bottom: 0; }

.Post > header > div > .date {
  color: #bbb;
  font-size: 11.5px; }

.Post > .PostContent {
  margin-left: 100px; }

.Post .CommentsList {
  margin-left: 75px; }
