.Post {
	flex-direction: column;
	position: relative;
	padding-bottom: 20px;
	min-height: 144px;
	&:before {
		position: absolute;
		content: '';
		left: 32px;
		top: 70px;
	    height:40px;
	    width: 40px;
	    border-radius: 0 0 0 40px;
		border-left: 5px solid #F1F2EE;
		border-bottom: 5px solid #F1F2EE;
	}
	&:after {
		position: absolute;
		content: '';
		left: 32px;
		bottom: 0px;
	    height:40px;
	    width: 40px;
	    border-radius: 40px 0 0 0;
		border-top: 5px solid #F1F2EE;
		border-left: 5px solid #F1F2EE;
	}
	> div > .Avatar {
		margin-right: 30px;
	}
	> div > .body {
		flex-direction: column;

		> h2 {
			margin-bottom: 0;
		}
		> .date {
			margin-bottom: 15px;
			color: #bbb;
			font-size: 11.5px;
		}
	}

	.CommentsList {
		margin-left: 75px;
	}
}
