.Post {
	flex-direction: column;
	position: relative;
	padding-bottom: 20px;
	margin-bottom: 35px;
	min-height: 144px;
	border-bottom: 5px solid #F1F2EE;
}

.Post > header {
	position: sticky;
	top: 0;
	z-index: 1;
	margin-top: -15px;
	padding: 15px 0;
	background: #fff;
	display: flex;
	align-items: center;
}

.Post > header > .Avatar {
	margin-right: 30px;
}

.Post > header > .byline {
	flex-direction: column;
	flex-grow: 1;
}

.Post > header > .byline > h2 {
	margin: 0;
}

.Post > header > .byline > .date {
	color: #AAA;
	font-size: 14px;
}

.Post > .PostContent {
	margin-left: 100px;
}
