.PostContent {
	display: block;
	word-wrap: break-word;
	word-break: break-word;
	overflow: auto;
}

.PostContent img {
	max-width: 100%;
	height: auto;
}

.PostContent .alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
	margin-bottom: 1em;
}

.PostContent .alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
	margin-bottom: 1em;
}

.PostContent .aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.PostContent > *:first-child {
	margin-top: 0;
}

.PostContent > *:last-child {
	margin-bottom: 0;
}

.PostContent #hm_weekly_stats {
	padding: 1.5rem 1.5rem .75rem;
	background: var( --hm-light-grey );
	margin-bottom: 30px;
}

.PostContent #hm_weekly_stats h4 {
	margin-top: 0;
}

.PostContent #hm_weekly_stats ul {
	list-style: none;
	padding: 0;
	overflow: hidden;
}

.PostContent #hm_weekly_stats ul li {
	float: left;
	margin-right: 5px;
}

.PostContent #hm_weekly_stats ul li a {
	box-shadow: none;
}

.PostContent #hm_weekly_stats ul li img {
	border-radius: 16px;
}

.PostContent p,
.PostContent ul,
.PostContent ol,
.PostContent .text-std {
	margin: 1rem 0
}

.PostContent h1,
.PostContent h2,
.PostContent h3,
.PostContent h4,
.PostContent h5,
.PostContent h6 {
	font-size: 1rem;
	line-height: 1.555rem;
	margin: 1rem 0;
	text-transform: none;
}

.PostContent blockquote,
.PostContent hr {
	margin: 1.66667rem 0;
}
