.Post {
	flex-direction: column;
	position: relative;
	padding-bottom: 20px;
	min-height: 144px;
	&:before {
		position: absolute;
		content: '';
		left: 32px;
		top: 70px;
	    height:40px;
	    width: 40px;
	    border-radius: 0 0 0 40px;
		border-left: 5px solid #F1F2EE;
		border-bottom: 5px solid #F1F2EE;
	}
	&:after {
		position: absolute;
		content: '';
		left: 32px;
		bottom: -40px;
	    height:60px;
	    width: 60px;
	    border-radius: 60px 0 0 0;
		border-top: 5px solid #F1F2EE;
		border-left: 5px solid #F1F2EE;
	}
	> div > .Avatar {
		margin-right: 30px;
	}
	> div > .body {
		flex-direction: column;
	}

	.CommentsList {
		margin-left: 75px;
	}
}
