.PostsList {
	position: relative;
	padding: 0 20px;
}

.PostsList > div {
	flex: 1;
}

.PostsList .infinite-scroll-component {
	flex-direction: column;
}

.PostsList:first-child {
	padding-top: 100px;
}

.PostsList:before {
	position: absolute;
	content: '';
	background: #F1F2EE;
	left: 52px;
	height: 100px;
	top: 0;
	width: 5px;
	z-index: -1;
}
