.Post {
	.Avatar {
		margin-right: 35px;
	}
	.body {
		flex-direction: column;
	}
	.content {
		font-family: "Proxima Nova";
		display: block;
		line-height: 33px;
		img {
			max-width: 100%;
			height: auto;
		}
    .alignleft {
    	display: inline;
    	float: left;
    	margin-right: 1.5em;
    }
    .alignright {
    	display: inline;
    	float: right;
    	margin-left: 1.5em;
    }
    .aligncenter {
    	clear: both;
    	display: block;
    	margin-left: auto;
    	margin-right: auto;
    }
		> p:first-child {
			margin-top: 0;
		}
	}
	h2 {
		font-family: "Chronicle Display";
		font-size: 48px;
		margin: 0 0 35px;
		line-height: 60px;
	}

}
