.reactions {
	position: relative;
	width: 100%;
	display: flex;
	margin: 30px 0 30px 90px;
}

.reactions .btn {
	white-space: nowrap;
	margin-bottom: 0;
	height: 31px;
	position: relative;
}

.reactions .reactions-new {
	opacity: 0.4;
}

.reactions .emoji-mart {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 100;
}

.reactions .emoji-mart input[type="text"] {
	width: 100%;
	margin-bottom: 0;
	border-width: 1px;
	margin-bottom: 5px;
}

.reactions .reactions__emoji {
	display: inline-block;
	margin-left: .1em;
	margin-right: .25em;
	position: relative;
	top: 2.5px;
}

.reactions .reactions__count {
	margin-right: .1em;
	margin-left: .25em;
	font-size: 14px;
	color: #AAA;
}

.reactions .btn--active {
	background: #DFDFDF;
}

.reactions .btn--active .reactions__count {
	color: #504C4C;
}

.reactions .btn--active:hover .reactions__count,
.reactions .btn--active:focus .reactions__count {
	color: #FFF;
}

.reactions__users {
	display: none;
	position: absolute;
	top: calc( 100% + 5px );
	left: 0;
	background: rgba(0,0,0,0.6);
	padding: 5px 10px 0;
	border-radius: 3px;
	font-size: 14px;
	z-index: 50;
	text-align: left;
}

.reactions .btn:hover .reactions__users,
.reactions .btn:focus .reactions__users {
	display: block;
}
.reactions__user {
	display: block;
	color: white;
}

