.SearchInput {
	flex: 1;
	position: relative;
	align-self: stretch;
}

.SearchInput__wrap {
	display: flex;
	align-items: center;
	height: 100%;
	background: var( --hm-beige );
	position: relative;
	z-index: 11;
}

.SearchInput input[type=search] {
	margin: 0;
	width: 100%;
}

.SearchInput__results {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 10;

	display: none;

	padding: 0.5rem 0;

	background: var( --hm-beige );
	box-shadow: 0 0 8px rgba( 0, 0, 0, 0.3 );
}

.SearchInput__results--visible {
	display: block;
}

.SearchInput__results p,
.SearchInput__results ul {
	margin: 0;
	padding: 0;
}

.SearchInput__results > p {
	padding: 0 20px;
}

.SearchInput__results ul {
	list-style: none;
}

.SearchInput__results li {
	margin: 0;
	padding: 0;
}

.SearchInput__result {
	display: flex;
	justify-content: space-between;
	padding: 0.25rem 0;
}

.SearchInput__result:hover {
	border: none;
	background: var( --hm-red );
	color: #fff;
}
