.Status {
	.Avatar {
		margin-right: 35px;
	}
	.body {
		font-family: "Proxima Nova";
		display: block;
		margin-top: 10px;
		font-size: 18px;
		line-height: 33px;
		p:first-of-type {
			display: inline;
		}
		img {
			max-width: 100%;
			height: auto;
		}
	}
}
