.WriteComment > header {
	height: 50px;
	line-height: 50px;
	display: flex;
	margin-bottom: 10px;
	margin-left: -60px;
}

.WriteComment > header > .Avatar {
	margin-right: 20px;
}

.WriteComment .buttons {
	margin-bottom: 10px;
}
