.WriteComment {
	background-color: var( --hm-light-grey );
	padding: 20px;
}

.WriteComment > header {
	height: 50px;
	line-height: 50px;
	display: flex;
	margin-bottom: 30px;
}

.WriteComment > header > .Avatar {
	margin-right: 10px;
}

.WriteComment .buttons {
	margin-bottom: 10px;
}
