.WriteComment {
	position: relative;
}

.WriteComment:before {
	position: absolute;
	content: '';
	background: #F1F2EE;
	left: 23px;
	top: 0;
	bottom: 0;
	width: 5px;
	z-index: -1;
}

.WriteComment header {
	height: 50px;
	line-height: 50px;
}

.WriteComment > .Avatar {
	margin-right: 30px;
}

.WriteComment .body {
	flex-direction: column;
	flex: 1;
}

.WriteComment .buttons {
	margin-bottom: 10px;
}
