.Sidebar-Comments > .Sidebar-Pagination {
	margin-bottom: 2rem;
}

.Sidebar-Comments__wrap {
	margin: 0 -10px;
}

.Sidebar-Comments__navigation {
	margin: 0 0 1rem;
}

.Sidebar-Comments .Comment-Mini {
	margin: 0 0 1rem;
}
