.Sidebar-Pagination {
	display: flex;
	align-items: baseline;
	padding: 0 1em;
	margin: 0;
	border: none;
	max-width: 20em;
}

.Sidebar-Pagination > div {
	width: 50%;
}

.Sidebar-Pagination .icon {
	height: 1em;
	width: 1em;
}

.Sidebar-Pagination__newer:first-child {
	margin-left: 50%;
}
