.btn {
	font-family: "proxima-nova", sans-serif;
	font-weight: 300;
	text-transform: none;
	letter-spacing: 0;
	font-size: 1.222222222rem;
	line-height: 1.555rem;
	border: 1px solid #D24632;
	border-radius: 4px;
	padding: calc( 0.41667rem + 1px) 15px;
	background: #D24632;
	color: #FFF;
	margin-bottom: 0.83333rem;
	margin-right: 7.5px;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	vertical-align: middle;
	width: auto;
	box-shadow: none;
	text-shadow: none;
	height: auto;
	transition: background 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.btn strong,
.btn b {
	font-weight: 700;
}

.btn:link, .btn:visited {
	color: #FFF;
	text-decoration: none;
}

.btn:hover, .btn:focus {
	color: #D24632;
	text-decoration: none;
	outline: none;
	background: #FFF;
	color: #D24632;
	transition: background 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.btn[disabled] {
	cursor: default;
	opacity: 0.3;
}

.btn[disabled]:hover, .btn[disabled]:focus {
	background: #D24632;
	color: #FFF;
}

.btn--block {
	width: 100%;
	margin-bottom: 1.66667rem;
	margin-right: 0;
}

.btn--secondary {
	color: #D24632;
	border-color: #D24632;
	background: #FFF;
}

.btn--secondary:link, .btn--secondary:visited {
	color: #D24632;
}

.btn--secondary:hover, .btn--secondary:focus {
	color: #FFF;
	background: #D24632;
	border: 1px solid #D24632;
}

.btn--secondary[disabled]:hover, .btn--secondary[disabled]:focus {
	background: #D24632;
	border-color: #D24632;
	color: #FFF;
}

.btn--tertiary {
	color: #504C4C;
	border-color: #504C4C;
	background: none;
}

.btn--tertiary:link, .btn--tertiary:visited {
	color: #504C4C;
}

.btn--tertiary:hover, .btn--tertiary:focus {
	color: #FFF;
	background: #504C4C;
	border: 1px solid #504C4C;
}

.btn--tertiary[disabled]:hover, .btn--tertiary[disabled]:focus {
	background: none;
	border-color: #504C4C;
	color: #504C4C;
}

.btn--inverted {
	color: #FFF;
	border-color: #FFF;
	background: none;
}

.btn--inverted:link, .btn--inverted:visited {
	color: #FFF;
}

.btn--inverted:hover, .btn--inverted:focus {
	color: #D24632;
	background: #FFF;
	border: 1px solid #D24632;
}

.btn--small {
	font-size: .888888889rem;
	line-height: 1.555rem;
	border-width: 1px;
	padding: 0 7.5px;
}

@media screen and (min-width: 30rem) {
	.btn--small {
		font-size: 1rem;
		line-height: 1.555rem;
	}
}
