.util-clearfix:before, .util-clearfix:after {
	display: table;
	content: " ";
}

.util-clearfix:after {
	clear: both;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-360deg);
	}
}

html {
	font-size: 18px;
	text-rendering: optimizeLegibility;
}

body {
	font-size: .888888889rem;
	line-height: 1.555rem;
	font-family: "proxima-nova", sans-serif;
	font-weight: 300;
	text-transform: none;
	letter-spacing: 0;
	color: #504C4C;
}

@media screen and (min-width: 30rem) {
	body {
		font-size: 1rem;
		line-height: 1.555rem;
	}
}

body strong,
body b {
	font-weight: 700;
}

strong,
b {
	font-family: "proxima-nova", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.01em;
	color: #353535;
	text-transform: none;
	letter-spacing: normal;
}

strong em,
strong i,
strong strong,
strong b,
b em,
b i,
b strong,
b b {
	font-weight: 700;
	font-style: normal;
	color: #D24632;
	text-transform: inherit;
}

em,
i {
	font-family: "proxima-nova", sans-serif;
	font-weight: 300;
	text-transform: none;
	letter-spacing: 0;
	color: #353535;
	font-style: italic;
}

em strong,
em b,
i strong,
i b {
	font-weight: 700;
}

h1,
.text-xxl {
	font-size: 1.555555556rem;
	line-height: 1.9995rem;
	font-family: "proxima-nova", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	margin: 1.66667rem 0;
	color: #353535;
}

@media screen and (min-width: 30rem) {
	h1,
	.text-xxl {
		font-size: 2.777777778rem;
		line-height: 3.3325rem;
	}
}

h1 em,
h1 i,
h1 strong,
h1 b,
.text-xxl em,
.text-xxl i,
.text-xxl strong,
.text-xxl b {
	font-weight: 700;
	font-style: normal;
	color: #D24632;
	text-transform: inherit;
}

h2,
.text-xl {
	font-size: 1.333333333rem;
	line-height: 1.66625rem;
	font-family: "proxima-nova", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.01em;
	margin: 1.66667rem 0;
	color: #353535;
}

@media screen and (min-width: 30rem) {
	h2,
	.text-xl {
		font-size: 1.777777778rem;
		line-height: 2.3325rem;
	}
}

h2 em,
h2 i,
h2 strong,
h2 b,
.text-xl em,
.text-xl i,
.text-xl strong,
.text-xl b {
	font-weight: 700;
	font-style: normal;
	color: #D24632;
	text-transform: inherit;
}

@media screen and (max-width: 30rem) {
	h2,
	.text-xl {
		text-transform: uppercase;
	}
}

h3,
.text-lg {
	font-size: 1.555555556rem;
	line-height: 2.00595rem;
	font-family: "proxima-nova", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.01em;
	margin: 1.66667rem 0;
	color: #353535;
}

h3 em,
h3 i,
h3 strong,
h3 b,
.text-lg em,
.text-lg i,
.text-lg strong,
.text-lg b {
	font-weight: 700;
	font-style: normal;
	color: #D24632;
	text-transform: inherit;
}

h4,
.text-md {
	font-size: 1.222222222rem;
	line-height: 1.555rem;
	font-family: "proxima-nova", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.01em;
	margin: 1.66667rem 0;
	color: #504C4C;
}

h4 em,
h4 i,
h4 strong,
h4 b,
.text-md em,
.text-md i,
.text-md strong,
.text-md b {
	font-weight: 700;
	font-style: normal;
	color: #D24632;
	text-transform: inherit;
}

h5,
h6 {
	font-size: .888888889rem;
	line-height: 1.555rem;
	font-family: "proxima-nova", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.01em;
	margin: 1.66667rem 0;
	color: #353535;
}

@media screen and (min-width: 30rem) {
	h5,
	h6 {
		font-size: 1rem;
		line-height: 1.555rem;
	}
}

h5 em,
h5 i,
h5 strong,
h5 b,
h6 em,
h6 i,
h6 strong,
h6 b {
	font-weight: 700;
	font-style: normal;
	color: #D24632;
	text-transform: inherit;
}

p,
ul,
ol,
.text-std {
	margin: 1.66667rem 0;
}

small,
.text-sm {
	font-size: .888888889rem;
	line-height: 1.333rem;
}

.text-xs {
	font-size: .777777778rem;
	line-height: 1.4285;
}

ul,
ol {
	list-style-position: outside;
	padding: 0;
	padding: 0 0 0 15px;
}

ul ul,
ul ol,
ol ul,
ol ol {
	margin: 0;
}

blockquote {
	font-size: 1.555555556rem;
	line-height: 2.00595rem;
	margin: 1.66667rem 0;
}

@media screen and (min-width: 30rem) {
	blockquote {
		margin: 4.66667rem 0;
	}
}

hr {
	border: 1px solid #d9d9d9;
	border-width: 1px 0 0 0;
	margin: 4.66667rem 0;
}

code,
pre {
	font-size: .777777778rem;
	line-height: 1.4285;
	color: #504C4C;
	background: #f7f7f7;
	padding: 0px 5px;
	display: inline-block;
	border-radius: 4px;
}

pre {
	padding: 0.83333rem 7.5px;
	display: block;
	margin: 1.66667rem 0;
	max-width: 100%;
	overflow: auto;
	white-space: pre-wrap;
}

code {
	font-size: .888888889rem;
	line-height: 1.333rem;
	line-height: inherit;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #f7f7f7;
	border-radius: 4px;
}

::selection {
	background: #cceaf1;
}

a {
	color: #D24632;
	border-bottom: 1px solid #fbf0ee;
	text-decoration: none;
	transition: color .2s ease-in, background .2s ease-in, border-width .2s ease-in, border-color .2s ease-in;
}

a:link, a:visited {
	color: #D24632;
	text-decoration: none;
}

a:hover, a:focus {
	color: #D24632;
	transition: color .2s ease-out, background .2s ease-out;
	border-bottom: 2px solid #D24632;
}

a:focus {
	outline: none;
}

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal;
}

.screen-reader-text:focus {
	clip: auto;
	clip-path: none;
	display: block;
	left: 0.5em;
	top: 0.5em;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

table {
	border-collapse: collapse;
	width: 100%;
	margin: 1.66667rem 0;
}

th,
td {
	font-size: .888888889rem;
	line-height: 1.333rem;
	padding: 0.611rem 7.5px;
	border: none;
	vertical-align: top;
}

thead {
	border-bottom: 1px solid #d9d9d9;
}

tfoot {
	border-top: 1px solid #d9d9d9;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
	background: #f7f7f7;
}

th {
	color: #353535;
	text-align: left;
	font-family: "proxima-nova", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.01em;
}

th em,
th i,
th strong,
th b {
	font-weight: 700;
	font-style: normal;
	color: #D24632;
	text-transform: inherit;
}

table caption {
	font-size: .888888889rem;
	line-height: 1.333rem;
	margin-bottom: 0.83333rem;
}

html {
	box-sizing: border-box;
}

*,
:before,
:after {
	box-sizing: inherit;
}

img {
	max-width: 100%;
	height: auto;
}

:root {
	--hm-red:         #D24632;
	--hm-blue:        #7DC9DA;
	--hm-warm-grey:   #504C4C;
	--hm-dark-grey:   #353535;
	--hm-beige:       #F4EFE6;
	--hm-medium-grey: #737373;
	--hm-light-grey:  #f7f7f7;
	--hm-brown:       #4F4641;
	--hm-red-light:   #e06857;
	--hm-red-dark:    #b34332;
}
