.form__field, .form__textarea,
textarea,
input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"] {
	font-family: "proxima-nova", sans-serif;
	font-weight: 300;
	text-transform: none;
	letter-spacing: 0;
	font-size: .888888889rem;
	line-height: 1.555rem;
	border: 2px solid #d9d9d9;
	padding: 0.41667rem 15px;
	background: white;
	box-shadow: none;
	color: #504C4C;
	margin-bottom: 1.66667rem;
	margin-right: 7.5px;
	display: block;
	text-align: left;
	border-radius: 4px;
	vertical-align: middle;
	width: 100%;
	max-width: 100%;
	appearance: none;
}

.form__field strong, .form__textarea strong, textarea strong,
.form__field b,
.form__textarea b,
textarea b,
input[type="text"] strong,
input[type="text"] b,
input[type="search"] strong,
input[type="search"] b,
input[type="password"] strong,
input[type="password"] b,
input[type="email"] strong,
input[type="email"] b {
	font-weight: 700;
}

@media screen and (min-width: 30rem) {
	.form__field, .form__textarea,
	textarea,
	input[type="text"],
	input[type="search"],
	input[type="password"],
	input[type="email"] {
		font-size: 1rem;
		line-height: 1.555rem;
	}
}

.form__field:hover, .form__textarea:hover,
textarea:hover,
input[type="text"]:hover,
input[type="search"]:hover,
input[type="password"]:hover,
input[type="email"]:hover {
	border-color: #b3b3b3;
	outline: none;
}

.form__field:focus, .form__textarea:focus,
textarea:focus,
input[type="text"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
	border-color: #8d8d8d;
	outline: none;
}

@media screen and (min-width: 30rem) {
	.form__field, .form__textarea,
	textarea,
	input[type="text"],
	input[type="search"],
	input[type="password"],
	input[type="email"] {
		width: 50%;
	}
	.form__field.form__field--lg, .form__field--lg.form__textarea,
	textarea.form__field--lg,
	input[type="text"].form__field--lg,
	input[type="search"].form__field--lg,
	input[type="password"].form__field--lg,
	input[type="email"].form__field--lg {
		width: 100%;
	}
	.form__field.form__field--md, .form__field--md.form__textarea,
	textarea.form__field--md,
	input[type="text"].form__field--md,
	input[type="search"].form__field--md,
	input[type="password"].form__field--md,
	input[type="email"].form__field--md {
		width: 33%;
	}
	.form__field.form__field--sm, .form__field--sm.form__textarea,
	textarea.form__field--sm,
	input[type="text"].form__field--sm,
	input[type="search"].form__field--sm,
	input[type="password"].form__field--sm,
	input[type="email"].form__field--sm {
		width: 15%;
	}
}

.form__field.form__field--code, .form__field--code.form__textarea,
textarea.form__field--code,
input[type="text"].form__field--code,
input[type="search"].form__field--code,
input[type="password"].form__field--code,
input[type="email"].form__field--code {
	font-family: "Consolas", "Monaco", "Andale Mono", "Ubuntu Mono", monospace;
}

.form__field.form__field--code::placeholder, .form__field--code.form__textarea::placeholder,
textarea.form__field--code::placeholder,
input[type="text"].form__field--code::placeholder,
input[type="search"].form__field--code::placeholder,
input[type="password"].form__field--code::placeholder,
input[type="email"].form__field--code::placeholder {
	font-style: normal;
}

.form__field::placeholder, .form__textarea::placeholder,
textarea::placeholder,
input[type="text"]::placeholder,
input[type="search"]::placeholder,
input[type="password"]::placeholder,
input[type="email"]::placeholder {
	font-style: italic;
	color: rgba(80, 76, 76, 0.5);
	opacity: 1;
}

.form__textarea,
textarea {
	width: 100%;
	clear: both;
}

.form__label,
form label,
form legend {
	font-family: "proxima-nova", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.01em;
	font-size: .888888889rem;
	line-height: 1.333rem;
	display: block;
	margin-top: 1.66667rem;
	margin-bottom: 0.41667rem;
}

.form__label em,
.form__label i,
.form__label strong,
.form__label b,
form label em,
form label i,
form label strong,
form label b,
form legend em,
form legend i,
form legend strong,
form legend b {
	font-weight: 700;
	font-style: normal;
	color: #D24632;
	text-transform: inherit;
}

fieldset {
	border: none;
	padding: 0;
	margin: 0;
}

.form__checkbox-group label, .form__radio-group label {
	font-family: "proxima-nova", sans-serif;
	font-weight: 300;
	text-transform: none;
	letter-spacing: 0;
	display: inline-block;
	margin-top: 0;
}

.form__checkbox-group label strong, .form__radio-group label strong,
.form__checkbox-group label b,
.form__radio-group label b {
	font-weight: 700;
}

.form__checkbox-group input[type="radio"], .form__radio-group input[type="radio"],
.form__checkbox-group input[type="checkbox"],
.form__radio-group input[type="checkbox"] {
	margin-right: 3.75px;
}

.form__radio-group {
	margin-right: 15px;
	margin-bottom: 0.83333rem;
	display: inline-block;
}
