.Post {
	flex-direction: column;
	position: relative;
	padding-bottom: 1.667rem;
	margin-bottom: 1.667rem;
	min-height: 144px;
	border-bottom: 5px solid #F1F2EE;
}

.Post:before {
	position: absolute;
	content: '';
	background: #F1F2EE;
	left: 27.5px;
	height: 1.667rem;
	top: -.8335rem;
	width: 5px;
	z-index: 2;
}

.Post > header {
	position: sticky;
	top: 0;
	z-index: 5;
	padding: 15px 0;
	background: #fff;
	display: flex;
	align-items: center;
	height: 99px;
}

@media screen and ( min-width: 600px ) and ( max-width: 782px ) {
	body.admin-bar .Post > header {
		top: 46px;
	}
}

@media screen and ( min-width: 783px ) {
	body.admin-bar .Post > header {
		top: 32px;
	}
}

.PostsList .Post > header {
	margin-top: -15px;
}

.Post-footer-actions {
	display: flex;
	margin: 1.666rem 0 1.248rem;
	justify-content: space-between;
}

.Post .actions button:last-child {
	margin-right: 0;
}

.Post--collapsed .reactions {
	display: none;
}

@media ( max-width: 600px ) {
	.Post:before {
		display: none;
	}
}

@media ( min-width: 600px ) {
	.Post-footer-actions .actions {
		display: none;
	}
}
