.Post {
	flex-direction: column;
	position: relative;
	padding-bottom: 1.667rem;
	margin: 1.667rem 0;
	min-height: 144px;
	border-bottom: 5px solid #F1F2EE;
}

.Post--collapsed {
	padding-bottom: 0;
}

.Post__actions {
	min-width: 6rem;
}

.Post-footer-actions {
	clear: both;
	display: flex;
	margin: 1.666rem 0 1.248rem;
	justify-content: space-between;
	align-items: flex-start;
}

.Post--collapsed .Post-footer-actions .reactions {
	display: none;
}

@media ( min-width: 600px ) {
	.Post-footer-actions .Post__actions {
		display: none;
	}
}
