.WritePost {
	flex-direction: column;
	position: relative;
	padding-bottom: 20px;
	margin-bottom: 35px;
	min-height: 144px;
	border-bottom: 5px solid #F1F2EE;
}

.WritePost__title {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	border-bottom: 2px solid var( --hm-beige );
	padding: 0.5em 0;
}

.WritePost__title h2 {
	font-size: 1.5em;
	line-height: 1.4;
	text-transform: none;
	margin: 0;
}

.WritePost__title .btn {
	margin: 0;
}

.WritePost__title .btn .label__count {
	margin-left: 0.5em;
	margin-top: -3px;
}

.WritePost__title .btn:hover .label__count {
	background-color: var( --hm-white );
	color: var( --hm-vibrant-blue );
}

.WritePost > header {
	position: sticky;
	top: 0;
	z-index: 3;
	padding: 15px 0;
	background: #fff;
	display: flex;
	align-items: center;
	height: 110px;
}

.WritePost > header > .Avatar {
	margin-right: 30px;
}

.WritePost > header > .byline {
	flex-direction: column;
	flex-grow: 1;
}

.WritePost > header > .byline > h2 {
	margin: 0;
}

.WritePost > header > .byline > h2 > input {
	padding: 0;
	font-size: inherit;
	font-weight: inherit;
	color: inherit;
	border: inherit;
	background-color: inherit;
	border-radius: inherit;
	margin: 0;
	width: 100%;
	border: 2px solid rgba( 217, 217, 217, 0.6 );
	padding: 0.2em;
}

.WritePost > header > .byline > h2 > input::placeholder {
	font-style: inherit;
}

.WritePost > header > .byline > .date {
	color: #AAA;
	font-size: 14px;
}

.WritePost > header > .byline > .categories {
	list-style: none;
	margin: 0 0 0 10px;
	padding: 0;
	display: inline;
	font-size: 14px;
}

.WritePost > .Notification {
	margin-left: 90px;
	margin-top: -1.36667rem;
}

.WritePost > .Editor {
	margin-left: 90px;
}

.WritePost__preview-link {
	margin-left: 90px;
	margin-top: -20px;
	margin-bottom: 1em;
	padding: 0 5px;
	font-size: 0.777777778em;
}

.WritePost__preview-link input[type="text"] {
	display: inline-block;
	background: var( --hm-light-grey );
	padding: 0px 5px;
	margin: 0 1em;
	border: none;
	font-size: inherit;
}

.WritePost__preview-copied {
	opacity: 0;
	transition: opacity 100ms;
}

.WritePost__preview-copied.active {
	opacity: 1;
}

@media ( max-width: 600px ) {
	.WritePost > header > .Avatar {
		display: none;
	}

	.WritePost > .Editor {
		margin-left: 0;
	}
}
