.App {
  font-family: 'Proxima-Nova', sans-serif;
  flex-direction: column;
  flex: 1; }

.App .PostsList {
  max-width: 800px; }

.App .WritePost {
  margin-top: 100px; }

.Inner {
  margin: 0 auto;
  width: 1200px;
  flex-direction: column; }

/*
* {
  outline: 1px solid rgba(0,0,0,0.1)
}
*/
