// Imported via Gruntfile.js

@import "bourbon";
@import "normalize";
@include normalize()
// Supporting styles

@import "base/variables";
@import "base/type";
@import "base/helpers";
@import "fontawesome/font-awesome";
@import "base/buttons";
@import "base/media-queries";
@import "base/images";

// Start of H2 stuff, sheesh
@import "modules/messagelist";
@import "modules/message";
@import "modules/new-post";
@import "modules/header";
@import "modules/mentions";
@import "modules/editor";
@import "modules/overview";
@import "modules/sidebar";

// Components too.
@import "reactions/reactions.scss";

* {
	box-sizing: border-box;
}

body.admin-bar {
	margin-top: 32px;

	@media screen and ( max-width: 782px ) {
		margin-top: 46px;
	}
}

#footer {

	@include clearfix;

	padding: 1.5rem 40px;

	.footer-inner {
	}
}

#wrapper {

	@include display(flex);
	// max-width: 1200px;
	width: 1200px;
	margin: auto;

	.sleeve {
		@include flex(auto);
		flex-grow: 1;

		// Fix responsive images in Firefox by allowing the container to go
		// smaller than its intrinsic width.
		min-width: 0;
	}

	.sidebar {
		@include flex(0 0 400px);
		padding: 20px 40px;
	}

}

// header

.sleeve-main {
	border-right: 1px solid $border_main;
}

// content

// sidebar

h2.widgettitle {
	text-transform: uppercase;
	opacity: 0.3;
	font-weight: 200;
	font-size: 20px
}
