.AuthorName-Card {
	display: flex;
	font-size: 0.77778rem;
	align-items: center;
}

.AuthorName-Card .Avatar {
	flex-grow: 0;
	flex-shrink: 0;
	margin-right: 0.5em;
}

.AuthorName-Card-details header {
	display: flex;
	align-items: center;
	margin: 0 0 1em;
}

.AuthorName-Card-details header p {
	line-height: 1.6;
	margin: 0;
}

.AuthorName-Card h3 {
	font-size: 1em;
	line-height: 1.6;
	text-transform: none;
	margin: 0 0;
}

.AuthorName-Card-slug {
	color: var( --hm-medium-grey );
	font-size: 0.9em;
	font-weight: normal;
}

.AuthorName-Card-title {
	color: var( --hm-medium-grey );
}

.AuthorName-Card-map {
	width: 150px;
	height: 200px;
	margin: 0 0 0 10px;
}

.AuthorName-Card-description {
	font-size: 0.9em;
	line-height: 1.7;
}

.AuthorName-Card-description p {
	margin: 0 0 1.666667em;
}

.AuthorName-Card-description p:last-child {
	margin-bottom: 0;
}

.AuthorName-Card-time {
	margin: 0;
	font-size: 0.9em;
}
